
@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Ceviche+One');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
* {
  padding: 0;
  margin: 0; 
}
nav{
  line-height: 8px;
  background-color: black;
}
nav a{
  margin: 20px 10px;
  letter-spacing: 0px;
  font-weight: bold; 
}
.nav-wrapper a:hover{
  color: orange;
}
/* name.descripcion*/
.txt-bienvenida {
    position: absolute;
    top: 14rem;
    left: 7rem;
  }
  .text-name{
    color: orange;
    font-family: 'Ceviche One', cursive;
    font-size: 9.5rem;
    line-height: 0.9;

  }
  .type-descripcion{
    font-size: 1.5rem;
    color: white;

  }
.conten-icons{
  position: absolute;
  right: 7%;
  bottom: 7%;
  }
.tex-icon,.fa-laptop{
  color:#fff;
}
.fa-laptop{
  margin-left: 23%;
}
.fa-heart{
  color:red;
}
.tex-icon{
  top:85%;
  left:87%;
}
  h6:hover{
    color:orange;
  }

.toast{
  margin-top: 30px;
  max-width: 53%;
  padding: 8px;
  text-align: center; 
  font-size: 1rem;
}
/*parallax*/
body{
  margin: 0px;
  overflow-x: hidden;
}
.animate{
  animation: latidos 4s infinite;}
  @keyframes latidos {
  from { transform: none; }
  50% { transform: scale(1.3); }
  to { transform: none; }
  }
#banner{
  width: 100vw;
  height:  100vh;
  margin: 0px auto 0px;
  background-color: #000;
  background-image: url(../img/planet1.png), url(../img/start1.png);
  background-position: 120% 90px,80px 0px;
  background-repeat: no-repeat, repeat,repeat-x;
  animation: animate-background linear 30s infinite;
}
@keyframes animate-background{
  from {background-position: 120% 70px, 50% 0px;}
  to {background-position: -20% 70px, -1000px 0px, -1500px 0px;}
}

/*about section*/

#about,#skills,#project,#welcome{
    height: 100vh;
    width: 100vw;
}
.subtitulo,.subtitulo-skills{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Ceviche One', cursive;
  font-size: 5rem;
  /*margin-bottom: 6%;*/
  margin-top: 0px;
 
  /*background-image: url("../img/start1.png");*/
  background-size: cover;
  background-attachment: fixed;
  color: orange;
  padding-top: 4%;
}
.subtitulo-skills{
  padding-top: 8%;
}

#about{
  background-color: #D8D7C3;
}
.text-aboutme{
  font-size: 17px;
  text-align: justify;

}
.collapsible-header a:hover{
  color: orange;
}
a {
  color:black;
}
/*skills*/
#skills{
  /*background-color: #D8D7C3;*/
  background-image: url("../img/bg-code.png");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-color: rgba(18, 15, 11, 0.85);
}

.card.horizontal .card-image {
    max-width: 30%;
    margin: auto;
}

/*project*/
#project{
   background-color: #D8D7C3;
}

#work{

  /*background: rgb(247, 247, 247);*/
}
.card .card-image{
  height: 180px !important;
  /*width:100% !important;*/
}
.card{
     background-color: rgba(16, 15, 11, 0.12);
}

.card-avatar .waves-effect {
    text-align: center;
    margin-top: 20px;
}

.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

.card-avatar .card-content {
    text-align: center;
}

.card .card-content p {
    margin: 15px 0px;
}

.card-avatar .card-content i {
   font-size: 1.5rem;
}

.parallax-container {
    max-height: 400px;
}

#project{
  /*background-image: url("../img/fondo-parallax.jpg");*/
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}
/*footer*/
#contact{
    padding-top: 30px;
    padding-bottom: 70px;
    background-image: url("../img/start1.png");
    width: 100vw;
    height: 18%;
}
.txt-copyright{
  color: orange;
}
.text-contacto{
  text-transform: uppercase;
  font-family: 'Ceviche One', cursive;
  font-size: 4rem;
  color:orange;
}
/*icono*/
i.right {
  margin-left: 15px;
  color: black;
}

.curso{
  color: black;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.align{
  text-align: center;
}
.responsive-perfil{
 margin-left: 2.6%;
}
.txt-curso{
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 10%;
}


@media all and (max-width : 450px){
  .txt-bienvenida {
    top: 20rem;
    left: 1rem;
  }
  .animate{
    margin-top: 130px;
  }
  .text-name {
    font-size: 4rem;
    width: 100%;
    left: 2rem;
    line-height: 0.7;
  }
  .type-descripcion{
    font-size: 1rem;
  }
 .desplegable,.responsive-perfil{
    display: none;
  }
  .subtitulo{
    font-size: 2.5rem;
     padding-top: 20%;
    
  }
  .subtitulo-skills{
    padding-top: 40%;
    font-size: 3rem;
  }
  .txt-curso{
    font-size: 1rem;
    color: #fff;
  }
  .text-aboutme,{
    font-size: 1rem;
  }
}